[submodule "Bacon/vendor/spdlog"]
	path = Bacon/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Bacon/vendor/GLFW"]
	path = Bacon/vendor/GLFW
	url = https://github.com/boranbirsan/glfw
